* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  background: #F2F3F9;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

input, textarea, select, button {
  font-family: inherit;
}

textarea {
  resize: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
